<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lw.crm.crmpurchacseitem.persistence.CrmPurchacseItemMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<parameterMap type="CrmPurchacseItem" id="CrmPurchacseItemparaMap">
		<parameter property="id" resultMap="id"/>
		<parameter property="number" resultMap="number"/>
		<parameter property="num" resultMap="num"/>
		<parameter property="sid" resultMap="sid"/>
		<parameter property="title" resultMap="title"/>
		<parameter property="name" resultMap="name"/>
		<parameter property="date" resultMap="date"/>
		<parameter property="uid" resultMap="uid"/>
		<parameter property="price" resultMap="price" />
		<parameter property="note" resultMap="note"/>
		<parameter property="type" resultMap="type"/>
		<parameter property="stock_info_id" resultMap="stock_info_id"/>
		<parameter property="snumber" resultMap="snumber"/>
	</parameterMap>
	
	<resultMap type="CrmPurchacseItem" id="CrmPurchacseItemResultMap">
		<id property="id" column="id"/>
		<result property="number" column="number"/>
		<result property="num" column="num"/>
		<result property="sid" column="sid"/>
		<result property="title" column="title"/>
		<result property="name" column="name"/>
		<result property="date" column="date"/>
		<result property="uid" column="uid"/>
		<result property="price" column="price"/>
		<result property="note" column="note"/>
		<result property="type" column="type"/>
		<result property="stock_info_id" column="stock_info_id"/>
		<result property="snumber" column="snumber"/>
	</resultMap>
	
	<sql id="CrmPurchacseItemColumn">id,number,num,sid,title,name,date,uid,price,note,type,stock_info_id,snumber</sql>
	<insert id="save" parameterMap="CrmPurchacseItemparaMap" keyProperty="id" useGeneratedKeys="true">
    	<![CDATA[
    		insert into crm_purchacse_item(number,num,sid,title,name,date,uid,price,note,type,stock_info_id,snumber)
    		values(#{number},#{num},#{sid},#{title},#{name},now(),#{uid},#{price},#{note},#{type},#{stock_info_id},#{snumber});
    	]]>
	</insert>
	
	<select id="getList" resultMap="CrmPurchacseItemResultMap" parameterType="map">
		SELECT <include refid="CrmPurchacseItemColumn"/> FROM crm_purchacse_item
		<where>
			<if test="id!=null">and id=#{id}</if>
			<if test="number!=null">and number=#{number}</if>
		</where>
		 order by id desc
		<if test="firstResult!=null and maxResult!=null">limit #{firstResult} , #{maxResult};</if>
	</select>
	
	<select id="getCount" resultType="int">
	   select count(1) from crm_purchacse_item
		<where>
		   	<if test="id!=null">and id=#{id}</if>
			<if test="number!=null">and number=#{number}</if>
		</where>
		order by id desc
	</select>
	
	<select id="getById" resultMap="CrmPurchacseItemResultMap" parameterType="int">
	   select <include refid="CrmPurchacseItemColumn"/> from crm_purchacse_item where id = #{id}
	</select>
	
	<update id="editById" parameterMap="CrmPurchacseItemparaMap">
		<![CDATA[
		   update crm_purchacse_item set number = #{number},num = #{num},sid = #{sid},title=#{title},name=#{name},date = #{date},uid=#{uid},price=#{price},note=#{note},type=#{type},stock_info_id=#{stock_info_id} where id = #{id}
		]]>
	</update>
	
	<delete id="delById">
	   delete from crm_purchacse_item where id in
	   <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>
	</delete>
</mapper>