<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.crm.crmstockinoroutlog.persistence.CrmStockInorOutLogMapper">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
<parameterMap type="CrmStockInorOutLog" id="CrmStockInorOutLogparaMap">
<parameter property="id" resultMap="id" />
<parameter property="number" resultMap="number" />
<parameter property="title" resultMap="title" />
<parameter property="price" resultMap="price" />
<parameter property="type" resultMap="type" />
<parameter property="date" resultMap="date" />
<parameter property="uid" resultMap="uid" />
<parameter property="takeuid" resultMap="takeuid" />
<parameter property="note" resultMap="note" />
<parameter property="address" resultMap="address" />
</parameterMap>

<resultMap type="CrmStockInorOutLog" id="CrmStockInorOutLogResultMap">
    <id property="id" column="id" />
    <result property="number" column="number" />
    <result property="title" column="title" />
    <result property="price" column="price" />
    <result property="type" column="type" />
    <result property="date" column="date" />
    <result property="uid" column="uid" />
    <result property="takeuid" column="takeuid" />
    <result property="note" column="note" />
    <result property="address" column="address" />
    <association property="crmStockType" column="type" fetchType="lazy" select="com.lw.crm.crmstocktype.persistence.CrmStockTypeMapper.getByType"></association>
</resultMap>
      
      
        <sql id="CrmStockInorOutLogColumn">id,number,title,price,type,date,uid,takeuid,note,address</sql>
 <!--新建任务（save）方法 -->
	<insert id="save" parameterType="CrmStockInorOutLog"
		keyColumn="id" useGeneratedKeys="true">
   		insert into crm_stock_inorout_log 
   		<trim prefix="(" suffix=")" suffixOverrides=",">
    			<if test="number != null and number != ''">
    			 	number,
    			</if>
    			<if test="title != null and title != ''">
    			 	title,
    			</if>
    			<if test="price != null and price != ''">
    			 	price,
    			</if>
    			<if test="type != null and type != ''">
    			 	type,
    			</if>
    			 	date,
    			<if test="uid != null and uid != ''">
    			 	uid,
    			</if>
    			<if test="takeuid != null and takeuid != ''">
    			 	takeuid,
    			</if>
    			<if test="note != null and note != ''">
    			 	note,
    			</if>
    			<if test="address != null and address != ''">
    			 	address
    			</if>
    		</trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
            	<if test="number != null and number != ''">
    			 	#{number},
    			</if>
    			<if test="title != null and title != ''">
    			 	#{title},
    			</if>
    			<if test="price != null and price != ''">
    			 	#{price},
    			</if>
    			<if test="type != null and type != ''">
    			 	#{type},
    			</if>
    			 	now(),
    			<if test="uid != null and uid != ''">
    			 	#{uid},
    			</if>
    			<if test="takeuid != null and takeuid != ''">
    			 	#{takeuid},
    			</if>
    			<if test="note != null and note != ''">
    			 	#{note},
    			</if>
    			<if test="address != null and address != ''">
    			 	#{address}
    			</if>
            </trim>		
	</insert>
 <select id="getList" parameterType="CrmStockInorOutLog" resultMap="CrmStockInorOutLogResultMap">
 		select * from crm_stock_inorout_log
	 	<where>
			<if test="ids != null and ids != ''">
				and id in
				<foreach item="CrmItem" collection="ids" open="(" separator=","
						 close=")">
					#{CrmItem}
				</foreach>
			</if>
		</where>
 		order by id desc
 		<if test="firstResult!=null and maxResult!=null">limit #{firstResult} , #{maxResult};</if>
 </select>
 
 <select id="getCount" resultType="int">
	   select count(1) from crm_stock_inorout_log
	</select>
	
	<select id="getById" resultMap="CrmStockInorOutLogResultMap" parameterType="int">
	   select <include refid="CrmStockInorOutLogColumn"/> from crm_stock_inorout_log where id = #{id}
	</select>
	
	<!--修改 -->
	<update id="editById"  parameterMap="CrmStockInorOutLogparaMap">
		UPDATE
		crm_stock_inorout_log
		<set>
			<if test="number != null and number != ''">
				number = #{number},
			</if>
			<if test="title != null and title != ''">
				title = #{title},
			</if>
			<if test="price != null and price != ''">
				price = #{price},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			
			<if test="uid != null and uid != ''">
				uid = #{uid},
			</if>
			<if test=" takeuid != null and takeuid != ''">
				takeuid = #{takeuid},
			</if>
			<if test="note != null and note != ''">
				note = #{note},
			</if>
			<if test="address != null and address != ''">
				address = #{address},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="delById">
	   delete from crm_stock_inorout_log where id in
	   <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>
	</delete>
	
	<delete id="delete">
	   delete from crm_stock_inorout_log where id =#{id}
	</delete>


	<select id="getStatisticsByType" parameterType="map" resultMap="CrmStockInorOutLogResultMap">
		select sum(price) as price,type from crm_stock_inorout_log
		<where>
			<if test="type !=null and type !=''">
				and type in
				<foreach item="crmItem" collection="type" open="("
						 separator="," close=")">
					#{crmItem}
				</foreach>
			</if>
			<if test="sDate!=null and sDate != ''">
				<![CDATA[ and DATE_FORMAT(date, '%Y-%m-%d ') >=
			 DATE_FORMAT(#{sDate} , '%Y-%m-%d') ]]>
			</if>
			<if test="eDate!=null and eDate != ''">
				<![CDATA[ and DATE_FORMAT(date, '%Y-%m-%d ') <=
			 DATE_FORMAT(#{eDate} , '%Y-%m-%d ') ]]>
			</if>
		</where>
		group by type
	</select>
	
</mapper>