<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.crm.crmunit.persistence.CrmUnitMapper">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
<parameterMap type="CrmUnit" id="CrmUnitparaMap">
	<parameter property="id" resultMap="id" />
	<parameter property="unit" resultMap="unit" />
</parameterMap>

<resultMap type="CrmUnit" id="CrmUnitResultMap">
	<id property="id" column="id" />
	<result property="unit" column="unit" />
</resultMap>
        <sql id="CrmUnitColumn">id,unit</sql>
 <!--新建任务（save）方法 -->
	<insert id="save" parameterType="CrmUnit"
		keyColumn="id" useGeneratedKeys="true">
<![CDATA[
    		insert into crm_unit (unit) values (#{unit});
    	]]>
		
	</insert>
 <select id="getList" parameterType="CrmUnit" resultMap="CrmUnitResultMap">
 		select * from crm_unit
 		<if test="firstResult!=null and maxResult!=null">limit #{firstResult} , #{maxResult};</if>
 </select>
 
 <select id="getCount" resultType="int">
	   select count(1) from crm_unit
	</select>
	
	<select id="getById" resultMap="CrmUnitResultMap" parameterType="int">
	   select <include refid="CrmUnitColumn"/> from crm_unit where id = #{id}
	</select>
	
	<!--修改 -->
	<update id="editById"  parameterMap="CrmUnitparaMap">
		UPDATE
		crm_unit
		<set>
			<if test="unit != null and unit != ''">
				unit = #{unit},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="delById">
	   delete from crm_unit where id in
	   <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>
	</delete>
</mapper>