<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.duty.persistence.DutyDepartMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<parameterMap type="DutyDepart" id="DutyDepartparaMap">
		<parameter property="id" resultMap="id" />
		<parameter property="depart" resultMap="depart" />
	</parameterMap>
	<resultMap type="DutyDepart" id="DutyDepartResultMap">
		<id property="id" column="id" />
		<result property="depart" column="depart" />
	</resultMap>
	<sql id="DutyDepartColumn">id,depart</sql>

	<select id="getList" resultMap="DutyDepartResultMap"
		parameterType="com.lw.duty.entity.DutyDepart">
		select * from toa_duty_depart
	</select>
	
	<select id="getListById" resultMap="DutyDepartResultMap"
		parameterType="com.lw.duty.entity.DutyDepart">
		select * from toa_duty_depart
		<if test="_parameter != null and _parameter != ''">
			where FIND_IN_SET(id,'${_parameter}')
		</if>
	</select>
	
	<!--根据id查询  -->
	<select id="getById" resultMap="DutyDepartResultMap" parameterType="com.lw.duty.entity.DutyDepart">
	select <include refid="DutyDepartColumn" /> from toa_duty_depart where id=#{_parameter}
	</select>
	
</mapper>