<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lw.shiroaction.model.persistence.ShiroActionModelMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<parameterMap type="ShiroActionModel" id="ShiroActionModelparaMap">
		<parameter property="id" resultMap="id"/>
		<parameter property="name" resultMap="name"/>
		<parameter property="sys_model" resultMap="sys_model"/>
	</parameterMap>
	
	<resultMap type="ShiroActionModel" id="ShiroActionModelResultMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="sys_model" column="sys_model"/>
		<collection property="rolevalueitemList" ofType="ShiroActionRoleValue" fetchType="lazy" column="id" select="com.lw.shiroaction.rolevalue.persistence.ShiroActionRoleValueMapper.getByRoleValueId"/>
	</resultMap>
	
	<sql id="ShiroActionModelColumn">id,name,sys_model</sql>
	<insert id="save" parameterMap="ShiroActionModelparaMap" keyProperty="id" useGeneratedKeys="true">
    	<![CDATA[
    		insert into shiro_action_model(name,sys_model) 
    		values(#{name},#{sys_model});
    	]]>
	</insert>
	
	<select id="getList" resultMap="ShiroActionModelResultMap" parameterType="map">
		SELECT <include refid="ShiroActionModelColumn"/> FROM shiro_action_model  where 1=1
		<if test="id!=null">and id=#{id}</if>
		 order by id desc
		<if test="firstResult!=null and maxResult!=null">limit #{firstResult} , #{maxResult};</if>
	</select>
	
	<select id="getListById" resultMap="ShiroActionModelResultMap" parameterType="map">
		SELECT <include refid="ShiroActionModelColumn"/> FROM shiro_action_model  where id=#{id} order by id desc
	</select>
	
	<select id="getCount" resultType="int">
	   select count(1) from shiro_action_model
	   <if test="id!=null">and id=#{id}</if>
		 order by id desc
	   <if test="firstResult!=null and maxResult!=null">limit #{firstResult} , #{maxResult};</if>
	</select>
	
	<select id="getById" resultMap="ShiroActionModelResultMap" parameterType="int">
	   select <include refid="ShiroActionModelColumn"/> from shiro_action_model where id = #{id}
	</select>
	
	<update id="editById" parameterMap="ShiroActionModelparaMap">
		<![CDATA[
		   update shiro_action_model set name = #{name},sys_model=#{sys_model} where id = #{id}
		]]>
	</update>
	
	<delete id="delById">
	   delete from shiro_action_model where id in
	   <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>
	</delete>
</mapper>